<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>YTLinker\YTLinker</fullnamespace>
    <descriptive locale="en_US">
        <title>Youtube Linker</title>
        <subtitle>A Youtube video ID storage</subtitle>
        <description>This module allows you to store youtube video IDs to be used with a video player.</description>
        <postscriptum>An easy first module to train myself with Thelia.</postscriptum>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Youtube Linker</title>
        <subtitle>Un stockage d'ID de vidéos Youtube</subtitle>
        <description>Ce module vous permet de stocker des ID de vidéos Youtube afin de les utiliser avec un lecteur vidéo.</description>
        <postscriptum>Un premier module facile à créer pour m'entraîner avec Thelia</postscriptum>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0</version>
    <authors>
        <author>
            <name>Luc NORMANDON</name>
            <email>lucnormandon@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.4</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
